<footer class="footer">
    <img src="/img/github-icon.webp" alt="github" class="github-icon">
    <a href="https://github.com/ismyasmin" target="_blank" class="git-link">Click to Reach at GitHub!</a>
     <br><br>
     &copy; <%= new Date().getFullYear(); %> SmartBlog  
</footer>
