<header class="header">
    <a href="/" class="header_logo">Smart Blog</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>
            </li>
            <li>
                <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">About</a>
            </li>
            <li>
                <a href="/contact" class="<%= isActiveRoute('/contact', currentRoute) %>">Contact</a>
            </li>
        </ul>
    </nav>

    

    <!-- Search button + Authentication Links - Displays Login/Register if use is not logged in or registered -->
        <div class="header_button">
            <button class="searchBtn" aria-expanded="false">
                Search</button>
          <% if (!user) { %>
            <a href="/admin/login" class="auth-link">Login</a>
            <a href="/admin/register" class="auth-link">Register</a>
          <% } else { %>
            <a href= "/dashboard" class="auth-link">Dashboard</a>
            <a href= "/generate-post" class="auth-link">Generate Post</a>
            <a href="/logout" class="auth-link">Logout</a>
          <% } %>
        </div>

</header>