<header class="header">
    <a href="/" class="header_logo">Admin Panel</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <button>
            Logout
            <!-- Search <img src="./img/search-logo.png" alt="search log" width="10">   -->
        </button>
         
    </div>
</header>