<div class="author">
    <h1 class="author_heading">About ⋆｡°✩</h1>
    <p class="author_body">─── ⋆⋅☆⋅⋆ This is SmartBlog, a blog site allowing users to 
        create, edit and share their thoughts with the help of AI-assisted writing tools. Whether you're a writer, developer 
        or someone creative, SmartBlog makes sharing your stories effortless!
        <br><br>
        <a href="/admin/register">Click here to register to start writing blogs!</a> 
         ⋆⋅☆⋅⋆ ───</p>
</div>